[2014-03-13 00:42] sent-hil opened #24 "Support for symlinks?"
I get `open file.js: no such file or directory`, however the file is exists and is a symlink.

[2014-08-28 20:14] mperham opened #48 "Provide AssetMust for variable init"
The Regexp and Template packages both provide a Must function which panics rather than returning multiple values, useful for initializing variables.  Would it be useful to have the same here?

[2015-01-09 09:02] lazydino opened #65 "function ends without a return statement?"
Hi,

Why is the install command
go get github.com/jteeuwen/go-bindata/... causing

/usr/lib/go/src/pkg/github.com/jteeuwen/go-bindata/toc.go:48: function ends without a return statement
?
I am running go on Ubuntu 12

[2015-01-09 10:26] shurcooL commented on #65
Whoops, I accidentally looked inside a wrong folder. There is a `toc.go` file in the root folder after all.

That confirms you have an extremely outdated version of Go, older than 1.1. You should really update to a modern version of Go.

[2015-01-09 18:20] lazydino commented on #65
Thanks!, I think I am running 1.0, will update my Go to 1.4

[2015-01-09 18:20] #65 closed

[2015-01-21 02:58] codeskyblue opened #67 "bug: when file in deeper folder, go-binddata cannot found it"
This is my file tree

[code]

when I run `go-bindata libs`. there are no data found in bindata.go

but
[code]
works well.

[2015-01-21 13:20] toni-moreno opened #68 "problem installing go-bindata."
When trying to install it following these instructions

https://github.com/graphite-ng/carbon-relay-ng/

 the installation fails.

The @Dieterbe suggested  me to open this issue (https://github.com/graphite-ng/carbon-relay-ng/issues/53#issuecomment-70834289)

[code]

[2015-01-21 17:13] jteeuwen commented on #68
Weird.. I can't reproduce this on my machine.
I deleted my source and binary versions of `go-bindata` and ran this:

    $ go get -u github.com/jteeuwen/go-bindata/...
    $ go-bindata -version
    go-bindata 3.1.0 (Go runtime go1.4.1).

Is there anything special you are doing? Or are you using `godep`? Some googling tells me there are others with similar issues using godep.

[2015-01-21 19:13] toni-moreno commented on #68
this is all what I did .In my ubuntu

Description:    Ubuntu 12.04.5 LTS
Release:        12.04
Codename:       precise

[code]

[2015-01-22 06:06] toni-moreno commented on #68
At least all seems to be related to this error:

[code]

C source files not allowed when not using cgo

What does this mean?

[2015-01-22 06:53] shurcooL commented on #68
I am unsure that your Go installation is correctly done. You didn't add /root/goroot/bin to your $PATH, so which `go` binary is being used?

[2015-01-22 07:45] toni-moreno commented on #68
there is nothing bellow this path... still
[code]

[2015-01-22 08:23] shurcooL commented on #68
Yeah, so it looks like your Go installation is in `/root/go`, and your GOPATH is the same folder. And you're setting `GOROOT` to an empty folder.

You should be extracting Go into `/usr/local` (creating a tree at `/usr/local/go`) and not setting GOROOT at all. Try undoing everything and following directions at http://golang.org/doc/install.

[2015-01-22 13:24] toni-moreno commented on #68
YES!!

Sorry the problem happened when I defined GOROOT . ( I did because a warning about this variable appeared sometime while installing GO )

After unset GOROOT variable the go-bindata has been created

[code]

[2015-01-22 13:24] #68 closed

[2015-01-29 10:32] matevzmihalic commented on #67
You should use `go-bindata libs/...` and it will include subdirectories.

[2015-02-09 23:09] jbreitbart commented on #48
:+1: This would be great!

[2015-02-10 00:20] c4milo opened #70 "Feature request: add flag for specifying package name to generate"

[2015-02-10 00:22] c4milo opened #71 "Run gofmt upon code generation"

[2015-02-10 00:50] shurcooL commented on #71
Duplicate of #34.

There are reasons why it may not be a good idea.

[2015-02-10 10:17] fzerorubigd commented on #70
Do you mean the -pkg flag? this already there.

[2015-02-10 14:29] c4milo commented on #70
I changed the name of the issue asking for documentation about this flag because I didn't find it anywhere.

[2015-02-11 19:54] shurcooL commented on #70
Have you tried `go-bindata -help`? It's a standard way to get info about flags of any Go binary that uses `flag` package for its flags. See [`var Usage`](http://godoc.org/flag#pkg-variables).

[2015-03-08 21:15] #48 closed

[2015-03-11 02:11] shurcooL opened #75 "Intent to fork, simplify and work on specialized feature development."
Hi @jteeuwen and @elazarl.

First off, a huge thank you for making this useful library. Recently I've started using `go-bindata` in tandem with `go-bindata-assetfs` to embed asset files inside a Go binary web server. Combined with `go generate` directives, it's both convenient and powerful.

After using it for a bit, I've learned what works well and what doesn't, and what improvements I want for t

[2015-03-11 05:43] elazarl commented on #75
Hi @shurcooL ,

Have you considered [go.rice](https://github.com/GeertJohan/go.rice).

Sounds very similar to what you have in mind.

In fact, had I known about it, I'd probably wouldn't develop `go-bindata-assetfs`.

I really think that if rice solves your problems, you'd better spend your efforts on other endeavors.

Thanks!

[2015-03-11 06:14] shurcooL commented on #75
I've seen `go.rice` and I have considered it, but I wasn't a big fan of its API. It seems capable, but what I want is a more simple pure virtual filesystem abstraction rather than a custom API (which is pretty close to a VFS admittedly). Also, it seems to use zip rather than gzip compression, which isn't compatible with most browsers if I understand correctly.

Thanks for the suggestion though!

[2015-03-11 06:26] elazarl commented on #75
As far as I understand, rice uses zip only for some embedding methodology.

If I were you, I'd think well if yet-another library, with slightly better API, would serve everyone better than improving on current state. `go.rice` is very similar to what you have in mind, and I think you should consider, e.g., adding gzip support to rice. I'll be more than happy to add `os.Filesystem` interface to go-

[2015-03-11 06:57] shurcooL commented on #75
I understand, and I've thought hard about this. The API and approach I have planned is significantly different that I cannot just make incremental improvements at this time.

I'm not sure I follow. There is no `os.Filesystem` interface, and `go-bindata-assetfs` already implements `http.FileSystem`.

[2015-03-11 06:59] elazarl commented on #75
I was thinking about
https://talks.golang.org/2012/10things.slide#8
or
https://godoc.org/golang.org/x/tools/godoc/vfs#FileSystem

On Wed, Mar 11, 2015 at 8:59 AM, Elazar Leibovich <elazarl@gmail.com> wrote:

[2015-03-11 07:18] shurcooL commented on #75
Some notes on the choice of virtual filesystem interface to go with.

When I had this idea, I considered `vfs.FileSystem` to be a superior/more modern interface to implement and that was another thing I wanted to do differently. In the process of implementing it, I realized that for certain things, `http.FileSystem` style is actually better.

Namely, if you want to implement a dynamic VFS that per

[2015-03-18 10:19] Unknwon opened #78 "-debug flag makes no difference"
When I involve `-debug` flag like:

[code]

It makes no difference without it:

[code]

Did I use it wrong?

[2015-03-18 10:30] Unknwon opened #79 "Syntax error when go file reaches 5k lines"
I've checked file content does not seem wrong, but Go compiler complains about `\` thing.

Test data: whole directory of https://github.com/gogits/gogs/tree/master/templates .

[2015-03-18 17:54] shurcooL commented on #78
Try the following:

[code]

They should not be the same.

[2015-03-18 17:56] Unknwon commented on #78
Hmm.. yeah, you're right.

Is it a feature?

[2015-03-18 18:46] shurcooL commented on #78
Yes, it is explained in the README:

https://github.com/jteeuwen/go-bindata#debug-vs-release-builds

[2015-03-18 18:48] Unknwon commented on #78
No, I mean why same output file isn't working?

[2015-03-18 19:45] shurcooL commented on #78
Sorry, can you clarify? I don't understand the problem/question you're having.

[2015-03-19 03:29] Unknwon commented on #78
Let me reword my initial comment.

I first execute:

[code]

And it's cool, did the job!

Then I try to use `-debug` flag:

[code]

Sadly, the `bindata.go` file didn't get changed(at all), which according to the README, it should change code to directly read content from file system.

But, if I use `-debug` flag to a non-exist file:

[code]

It works.

So why does `-debug` flag do not make changes

[2015-03-19 05:06] shurcooL commented on #78
I understand now. Thanks for clarifying.

That seems unexpected. `go-bindata` uses [`os.Create`](https://godoc.org/os#Create) to create the file, which should truncate it if it already exists.

I'm not the library author so I can't say for sure, but I would imagine this command's intent would be to overwrite existing generated file. In that case, this is a bug.

[2015-03-19 06:06] Unknwon commented on #78
@shurcooL thanks for the help! I'll just manually generate again at the moment, luckily isn't that often.

[2015-04-16 01:36] abates commented on #24
I'm curious if there has been any movement on this issue?  I just ran into a situation where including symlinks would be very helpful.

[2015-04-16 19:52] shurcooL commented on #24
Can you describe that situation please?

[2015-04-16 20:04] abates commented on #24
@shurcooL: when serving development content I have a tmp directory.  The tmp directory includes file that are automatically build (less to css for instance) or updated (injections in index.html).  It also has symlinks to other content (images and bower_components for instance).  I don't want to create copies of those resources, so having go-bindata be able to read from the linked directories is ni

[2015-04-16 20:10] shurcooL commented on #24
I see, thanks!

[2015-04-16 20:52] #24 closed

[2015-04-27 09:59] sigurdteigen opened #83 "symlink broke after #82"
I have a directory structure like this

repo/
+ assets/
++ assert/foo (symlink to ../other/other)
+ other/
++ other/other (text file)

So asset/foo is a symlink to a regular textfile other/other. This worked until the symlink pull-request #82  was merged in, but now it fails saying

bindata: read ...  /repo/other: is a directory

Not sure if doing it wrong or this is a bug. The asset/foo definitel

[2015-05-24 02:23] shurcooL commented on #75
This is done now. I haven't announced it properly yet, but here it is:

[`github.com/shurcooL/vfsgen`](https://github.com/shurcooL/vfsgen) - Package vfsgen generates a vfsdata.go file that statically implements the given virtual filesystem.

It's very simple and minimalistic, but it does what I need and it will allow me to build some things on top of it that I have planned.

Thank you both @jteeuw

[2015-05-24 02:24] #75 closed

[2015-05-24 22:13] matejkramny opened #87 "Accessing an asset"
Hello, i'm having some issues accessing the asset data.

I have a file (main.go) and `bindata.go` sitting in one directory.

I've noticed that both have `package main` - so they belong to the same package.

When I run my main file, `go run main.go`, Go doesn't see `bindata.go` therefore doesn't see the `Asset` function.

How did you intend that `bindata.go` is used & accessed properly?

Thanks!

[2015-05-24 23:26] matejkramny commented on #87
Nvm, figured it out. Would be great if the `-package` switch was in the Readme though.

[2015-05-25 00:21] shurcooL commented on #87
For anything larger than a single-file program, `go run` is not suitable. `go build` and/or `go install` should be used instead.

When you do `go build` or `go install`, it builds the entire package in the specified folder, so it will find `bindata.go` if it has the same package name.

[2015-05-25 15:48] Luzifer opened #88 "Generate tests for bindata.go"
In order to have the test coverage maximized the `go-bindata` tool should generate a `bindata_test.go` which covers the `bindata.go` routines with tests. In that case not every single coder has to write his own tests but automatically gets tests generated.

[2015-05-27 14:07] nadams opened #89 "Invalid Generated Go Code With Certain Filenames"
Embedding files that start with a `.` generates invalid go code.

A git bisect shows that the problem was introduced in commit dfcf23b04ef0cacd524a25ea18fbeede2d3bbcbb

I'm pretty sure the issue was introduced with the pull request jteeuwen/go-bindata#86
Specifically, this line was removed: https://github.com/jteeuwen/go-bindata/commit/dfcf23b04ef0cacd524a25ea18fbeede2d3bbcbb#diff-76b9265a0c3cccec

[2015-05-28 22:25] shurcooL commented on #89
We are hitting this issue as well, and I am also suspecting it's a regression coming from #86.

[2015-05-29 11:51] #89 closed

[2015-05-29 23:19] mpictor commented on #88
IMO for generated code it's more important to test the generator (in this case, go-bindata) while it's being built, rather than testing its output at some later time. After all, you'll have to go back and modify the generator in the unlikely event that there _is_ a problem.

[2015-05-30 01:01] shurcooL commented on #88
Highly agree with @mpictor. It makes a lot more sense to test code generation and the generated code inside this repo, rather than generating tests for go-bindata within user projects.

[2015-06-02 10:24] rickb777 opened #94 "Minor typo in testdata compress-memcopy.go"
https://github.com/jteeuwen/go-bindata/blob/master/testdata/out/compress-memcopy.go line 38
the wrong err value is returned - it should be clErr

[2015-06-09 13:10] tboerger opened #95 "panic: runtime error: index out of range"
If I try to use the latest version of go-bindata within https://github.com/go-gitea/gitea i run into the below error.

I try to execute ```go-bindata -o=modules/bindata/bindata.go -ignore="\\.DS_Store|README" -pkg=bindata conf/...```. Another contributor of gitea built https://github.com/jteeuwen/go-bindata/commit/81e20ed1b787aee59470382444baf4cb6f9ae6f0 manually and it worked as before. Is there

[2015-06-09 21:00] makhov commented on #95
Confirm `panic: runtime error: index out of range`.

[2015-06-10 09:06] #95 closed

[2015-06-10 11:27] tboerger commented on #95
Awesome, thanks. Now it works :)

[2015-06-29 09:34] ultimate010 opened #98 "go get -u github.com/jteeuwen/go-bindata/... get error"
When I run

I got this.

[2015-06-29 10:57] jteeuwen commented on #98
Are you running an old version of Go? There was a language change some time ago, which made this legal Go code.

[2015-06-29 11:08] ultimate010 commented on #98
I use the ubuntu 12.04 and installed the galang from apt-get.

I tried it on another server ubuntu 14.04 which run

It works now.

I think maybe you can add some information about this for someone like me who are not familiar with go on the README.md, that will help a lot.

Thanks.

[2015-07-29 16:56] mpictor opened #105 "document go-bindata command in generated source"
Several times, I've wished I had documented the command I used to run go-bindata.

What about documenting it in the generated file, along with the fact that the file was generated? For example,

[code]

Adding the `go:generate` prefix should allow the appropriate go-bindata command to be executed with [`go generate`](http://blog.golang.org/generate) (added to go 1.4). I haven't upgraded yet, or I'

[2015-07-29 23:00] shurcooL commented on #105
People tend to place the `//go:generate` directives somewhere else, not in the file being generated. That allows one to delete the generated file completely and run `go genreate` to regenerate it.

However, writing the command that was used to generate the file is helpful and SGTM.

[2015-08-07 06:45] cayter opened #106 "Question: Does this work well with CDN too?"
Has anyone tested it with CDN yet?

[2015-08-07 06:56] shurcooL commented on #106
Does this work well compared to what?

[2015-08-07 07:08] cayter commented on #106
The reason I'm asking the question is because I'm wondering if the assets being served in the memory can't utilise the CDN, then it would mean that I have to spawn many instances for scalability reason.

[2015-08-07 07:55] shurcooL commented on #106
Unless I'm missing something, from the perspective of a CDN, it makes no difference to it whether the assets are being served from memory or from disk.

[2015-08-14 23:31] huaruiwu opened #109 "Output is package main instead of data"
Is this a mistake? go-bindata is outputting as package main instead of data.

[2015-08-15 02:42] shurcooL commented on #109
What command line flags did you run `go-bindata` with?

[2015-09-22 10:19] pgundlach opened #110 "-prefix generates incorrect asset for files on the top level"

[2015-09-30 03:54] shazow opened #111 "InputConfig.Name to override the asset's name"
Right now, if we want the input's name to be different from the given Path, the only way to do this is to restructure the filesystem under some prefix path and use the config-global Prefix to strip the prefix from the path.

I'd like to define different asset names to be uncorrelated with how they happen to be stored in the filesystem during build time. Particularly, in my case, I'm using `Restore

[2015-09-30 04:08] shazow commented on #111
Also, in the condition where Name is given to a recursive InputConfig (a directory), then the Path prefix will be replaced with a Name prefix.

[2015-09-30 22:11] mitchellh opened #112 "Generate file for each individual asset"
Hi @jteeuwen and thanks for this great library! We're using it heavily in [Otto](https://github.com/hashicorp/otto) and we're running into some growing pains. This is our idea for a solution.

The problem is that we commit the `bindata.go` so that we can `go get` this and use Otto as a dep. If we don't commit it, then we can't use Otto as a dep in some other projects. However, by commiting this, w

[2015-10-01 07:57] shurcooL commented on #112
Hey @mitchellh,

If you don't mind, could you share links to a few of PRs where the merge conflicts can be seen?

[2015-10-01 12:43] mitchellh commented on #112
They're all rebased now... but imagine anyone editing the files in the "data" directory here: https://github.com/hashicorp/otto/tree/master/builtin/app/ruby

This would generate a single "bindata.go". So if two individuals modified Ruby, opened two PRs, then the Bindata would merge conflict (we'd merge one, the other would get a conflict).

[2015-10-01 16:34] shurcooL commented on #112
Gotcha, thanks.

[2015-10-13 13:00] fridolin-koch opened #114 "Use os.ErrNotExist instead of custom errors?"
Hi,

I'm using https://github.com/elazarl/go-bindata-assetfs to serve assets via `http.FileServer`. When requesting non existent files I get `500 Internal Server Error` instead of `404 Not Found`. After some research I found the reason here: https://golang.org/src/net/http/fs.go?s=13011:13069#L425

So maybe it would be better to use `os.ErrNotExist` instead of the custom errors in `AssetDir()`, `A

[2015-10-13 18:35] shurcooL commented on #114
It might be better to use `os.PathError` to keep additional information about the path that wasn't found, but still have it so `os.IsNotExist(err)` returns true:

[code]

Source: https://github.com/shurcooL/vfsgen/blob/ba39b2120b3137bc1867bfc242bae267bcf2f9bb/generator.go#L319.

That way instead of:

[code]

You get:

[code]

[2015-10-22 13:59] fridolin-koch commented on #114
I agree, thats better. I changed it https://github.com/fridolin-koch/go-bindata/commit/41cb39b77a818b580e54e85751cac239c9cfea59

[2015-10-24 11:25] parhamdoustdar opened #116 "Embedded application cannot find relative resources"
I am embedding a Windows executable in my Go application, per the answer given to my question on StackOverflow, [Is there a way to do dynamic socks-based port forwarding in Go, like the -d switch in SSH?](http://stackoverflow.com/questions/33309089/is-there-a-way-to-do-dynamic-socks-based-port-forwarding-in-go-like-the-d-swit/33310335#33310335).

I have found that while single-file executables wor

[2015-10-28 22:05] willfaught opened #117 "Explain that -ignore can be used more than once in README"
Explain that -ignore can be used more than once in README

[2015-10-28 22:05] willfaught opened #118 "Add -include flag for targeting few files among many"
Add -include flag for targeting few files among many

[2015-10-28 22:34] willfaught opened #119 "Add flag to make asset funcs unexported"

[2015-11-02 16:25] leehambley opened #120 "Bindata file is always written even if unchanged"
Stub issue to ask if you would accept a patch, or consider this valid behaviour.

We currently have a setup that `go generate` triggers our `go-bindata` build - if we don't touch the source files that are compiled, and then re-run `go generate` the modification time of the bindata file is updated to the current time.

I believe since the file isn't changed (same bytes overwritten) this is incorrec

[2015-11-02 21:22] jteeuwen commented on #120
If nobody else objects, I'm ok with your suggestion.

[2015-11-03 15:30] leehambley commented on #120
I made a start on this, can't say when I'll be done, the code is a little … disorganized! Thanks for accepting a PR I hope it'll be mergeable.

[2015-11-04 18:22] nd2s commented on #119
+1, I'd very much appreciate not to have to clutter a clean package interface with internal asset functions.

I think it would make sense to make unexported the default behaviour. Or even drop support for exported functions completely.

[2015-11-04 19:01] willfaught commented on #119
Agreed

[2015-11-04 19:02] willfaught commented on #119
I had to use an internal package just to use the generated code

[2015-11-07 19:08] phemmer commented on #109
I think it would be more useful for the tool to look for other `.go` files in the output directory, and if it finds one, use the `package` name from that file. Only if it can't find a `.go` file should it fall back to `main`.

[2015-11-16 03:08] offero commented on #109
This is the documented behavior. Specify the -pkg and -o arguments for full control over package names and output locations. It could be handy, but some auto-discovery feature would add unnecessary complexity to the source. This issue should be closed.

[2015-12-10 15:06] stroborobo opened #121 "AssetInfo() for directories"
Hey,

is there a reason why AssetInfo() doesn't include directories? Looks like it's only able to return FileInfos for files.

[2015-12-16 05:27] variadico commented on #119
I was looking for the same thing. I'd be happy to submit a PR for this, if you'd like. :)

[2015-12-29 01:45] hachi8833 commented on #88
+1

[2015-12-30 07:44] moul commented on #111
LGTM ping @jteeuwen

[2015-12-31 08:12] shawnps opened #122 "typo "cannonical" (should be "canonical")"
Not sure if changing this would break backwards compatibility so I held off on making a PR, but the variable `cannonicalName` is misspelled in several places:

[code]

it should be `canonicalName`.

I'm happy to make a quick PR if you approve

[2016-01-03 17:41] markwallsgrove commented on #114
@fridolin-koch can you raise a PR for this? Fixes https://github.com/elazarl/go-bindata-assetfs/pull/26#issuecomment-168428267

[2016-01-03 17:46] fridolin-koch commented on #114
Done https://github.com/jteeuwen/go-bindata/pull/123

[2016-01-05 08:38] loredo opened #124 "bindata_assefts fails with golint"
I needed to use this library to embed my static files but when applying golint it fails due to functions containing underscores inside names etc.
It is a little boring replacing all those functions names for my static file with CameCase style.

I finished changing your convert.go, safeFunctionName function, replacing "_" with "". to remove _ from names.

Thanks.

[2016-01-24 14:30] emicklei commented on #119
+1

[2016-02-05 19:50] klauern opened #126 "generated vars don't follow initialisms for `go lint`"
I have a few `.html` files that I use `go-bindata` to generate.  when I run `go lint` on them, it fails:

[code]

I think [this method](https://github.com/golang/lint/blob/master/lint.go#L510) and this [list of initialisms](https://github.com/golang/lint/blob/master/lint.go#L702) would make it possible to avoid at least a few cases of this happening.

[2016-02-16 16:35] joeblew99 opened #127 "Question. ARM and RaspberryPi"
I woudl like to use this on Arm, and specifically RaspberryPI.

Because of the way it packs data, i just wanted to see if anyone has had any luck using this for this OS and ISA chip architecture ??

[2016-02-23 05:39] benma commented on #120
:+1:

Any progress on this?

[2016-03-10 19:37] Briareos commented on #121
Seeing as `AssetDir` returns both files and directories, it would make sense for `AssetInfo` to support both.

[2016-04-27 20:26] apvail opened #129 "`-prefix` flag should use regex pattern instead of string"
It would be nice if the `-prefix` flag used a regex pattern to match the portion of the path to omit instead of just a string. Alternatively, allowing multiple `-prefix` flags could also be acceptable, but I feel regex would be more flexible and lead to less redundancy. For example, in my case I have a structure like this:

[code]

I would be nice to be able to use the `-prefix` flag like this

[c

[2016-05-02 19:48] apvail commented on #129
See solution at https://github.com/jteeuwen/go-bindata/pull/130

[2016-05-10 17:24] hajimehoshi commented on #118
+1. I want such a "white list" option besides a "black list" by `-ignore`.

[2016-05-12 16:20] andreas-kupries commented on #110
The issue has actually nothing to do with toplevel and simply with the application of the `-prefix` to paths which do not have said `prefix`. In that case the `dir` variable contains the path we want, but `go-bindata` joins the filename to it, duplicating the last element, thus `foo/bar` becomes `foo/bar/bar`, etc.

Fix forthcoming.

[2016-05-12 16:28] andreas-kupries commented on #110
See PR https://github.com/jteeuwen/go-bindata/pull/131 for a fix.

[2016-05-12 16:57] andreas-kupries commented on #110
Local dicussion found that the PR is not a fully proper fix. It breaks `go-bindata` for paths which are simply a directory to recurse into, instead of a path with the filename part of it. This needs more thought. I will update the PR when I have a better fix and then add a note here.

Apologies.

[2016-05-12 17:28] andreas-kupries commented on #110
The PR has been updated to distinguish paths with a filename element from those without.

[2016-05-15 23:05] xiaods commented on #114
need it +1

[2016-06-07 22:49] y0ssar1an opened #132 "Generated code does not pass gosimple linter"
The [`gosimple`](https://github.com/dominikh/go-simple) tool flags this issue with the generated code.

[code]
This can be simplified to:
[code]

It is semantically identical.

We noticed the issue because we use `gosimple` as part of our CI pipeline.

[2016-07-13 11:39] TheTincho opened #134 "Please cut a new release"
Hi,

I experienced some weird behaviour because I was using version 3.0.7 of go-bindata, while the project was expecting the version from HEAD.

Is there any reason for not having new releases? Or has the project moved to not using releases any more?

Thanks.

[2016-07-26 05:31] mihai-chiorean commented on #126
+1

[2016-08-11 17:52] philipithomas commented on #134
Seconded - this is important for the Glide package manager

[2016-09-05 11:34] Asoseil opened #137 "Output directory"
How can i define the output directory for bindata?

[2016-09-06 12:55] tehmaze opened #138 "Handle symlinks in the same data directory as references."
Currently, files that are symlinked generate duplicated content in the generated file.

It seems like a good idea to store a reference rather than duplicating the data. It would also be convenient to have a accessor to establish if a given asset is a symlink.

[2016-09-21 08:14] rayzyar commented on #120
Any progress? 👍

[2016-09-23 14:27] #120 closed

[2016-09-30 19:04] y0ssar1an commented on #134
The last commit is dated Oct 23, 2015. Has this project been abandoned?

@jteeuwen Would you consider adding collaborators or handing this off to someone else?

[2016-10-31 07:24] colemickens opened #142 "Ignore date flag?"
Would you accept a PR to add a flag to write out a dummy date instead of the real modification date?

[2016-11-09 09:30] zhw2101024 opened #143 "build fails, since vet is in go source and not in tools now"
#107
`go get golang.org/x/tools/cmd/vet`
fails with cannot find package golang.org/x/tools/cmd/vet

[2016-11-21 07:46] emicklei opened #146 "Document how to use Drone.io with unversioned generated bindata"
hi,

I am developing a tool ([zazkia](https://github.com/emicklei/zazkia)) that uses the go-bindata package but does not include the generated bindata.go in the git repository.

In order to build this project using a cloud-based CI tool, such as drone.io that obviously does not have the tool to generate this file, I use a custom build tag and a definition file that is compiled conditionally.

**as

[2016-12-03 00:13] Willyham commented on #134
This is extremely important, as the latest tag at 3.0.7 reports a version of 3.1.0. That just caused us a huge headache when working with glide and the new `-nometadata` flag.

[2016-12-03 20:15] chrislovecnm opened #147 "Header in code file"
Hi how can we embed a license file header in the generated go file?

[2016-12-10 12:52] Dieterbe opened #148 "generated data incompatible with `go fmt -s`"
this is what happens when i run go-bindata on source code which has `gofmt -w -s` applied on it.
[code]

[2016-12-10 12:56] Dieterbe commented on #148
btw, great tool. love it. also, I don't mind running gofmt myself after go-bindata runs.  just thought if somebody wants to find something to improve, here's a thing :)

[2016-12-13 05:59] alfg opened #149 "Embedding a CLI application example?"
Hello,

The example in the readme explains how to access a static embedded asset via `Asset(filepath string)`.

However, I'm wondering if it's possible and if there's an example of how to embed a command-line tool binary that can work with `exec.Command`. I would like to bundle a small CLI utility that I can shell out from within my Go application. Is this possible?

Thanks!

[2017-01-09 18:25] pmcdowell-okta opened #151 "Sturggling to get this to build"
I used the golang docker image, since I'm on windows makefiles don't work so great.

Any pointers would help:

[code]

[2017-01-10 01:47] pmcdowell-okta commented on #151
Nevermind, found the answer, maybe this will help others.

For Windows do this:

go get github.com/jteeuwen/go-bindata
go build -o go-bindata.exe github.com/jteeuwen/go-bindata/go-bindata

[2017-01-10 01:47] #151 closed

[2017-01-16 14:35] Coeurderoy opened #152 ""vet issue" : cannot find package "golang.org/x/tools/cmd/vet""
it seems that in go 1.6 vet is not a separate package anymore, under ubuntu 16.04.1 LTS
sudo apt-get install golang-golang-x-tools-dev will provide the vet application.

trying to build go-bindata will choke on the testdata Makefile
removing the "vet:" rule will fix the issue

[2017-02-11 08:33] hachi8833 commented on #152
I found the fork https://github.com/seanmcgary/go-bindata/commits/master and works fine on Go 1.7.5 for now.
I hope you'd merge the fix by seanmcgary.
thnx,

[2017-02-22 07:49] logicle commented on #68
It had go in a completely different location. unsetting GOROOT means it falls back to assuming it is installed in /usr/local. I preferred to keep go installed in user space (my home directory) for a number of reasons. Other tools work just fine, but this simply fails to install with that setup. I've fallen back to doing a system install in /usr/local so I can use go-bindata, but this seems like a

[2017-02-22 22:51] shurcooL commented on #68
@logicle You are absolutely able to install Go in a custom location in your home directory, if you wish to do so.

I don't think go-bindata has issues related to that. At least, the person reporting in this issue had an invalid Go installation as the root cause.

If you do have a properly installed Go (even if it's in a custom location) and go-bindata does fail to operate in that case, you should

[2017-03-04 23:47] martinlindhe commented on #142
Maybe `-nometadata` is what you need?

From --help:
[code]

[2017-03-05 06:43] colemickens commented on #142
Yeah, I'm actually using this flag since filing this. Time to close. Thanks.

[2017-03-05 06:43] #142 closed

[2017-03-06 23:36] cristim commented on #134
The author has been dormant for about two years now and is not answering any contact attempts.

I propose we fork this project and continue development somewhere else, until he comes back to life.

[2017-03-21 18:07] amitbmas90 opened #156 "undefined: Asset"
Hey Anyone ,
Please help me in the following  error:
undefined: Asset
package main

import  (
        "fmt"
        "github.com/aws/aws-sdk-go/aws"
        "github.com/aws/aws-sdk-go/aws/credentials"
        "github.com/aws/aws-sdk-go/service/lambda"
        "github.com/aws/aws-sdk-go/aws/session"
        "github.com/jteeuwen/go-bindata"
)
//go:generate go-bindata -nocompress -pkg main -o bindata.

[2017-04-01 16:30] dpastoor commented on #134
can we propose using https://github.com/lestrrat/go-bindata as a canonical fork?

@lestrrat would you be up for that? You seem to have made some good progress.

[2017-04-01 16:53] dpastoor commented on #134
Though also @tmthrgd seems to have completely forked and has put in a couple hundred commits since then here https://github.com/tmthrgd/go-bindata

[2017-04-02 01:17] tmthrgd commented on #134
I've actually added [260 commits so far](https://github.com/tmthrgd/go-bindata/compare/3adb6a8b66f07a123c3d44e8f6c7e78bbdd029c2...master) since I 'forked' the project at [212 commits](https://github.com/lestrrat/go-bindata/commit/3adb6a8b66f07a123c3d44e8f6c7e78bbdd029c2). I'm not prepared to guarantee a stable API or apply a Go1 style compatibility guarantee quite yet, but I don't foresee any majo

[2017-04-02 11:45] lestrrat commented on #134
@dpastoor I'm up for discussion, but ATM don't feel too enthusiastic b/c I have never really been a part of this project's community. I would suggest ppl consider @tmthrgd's version first, and if for whatever reason that version doesn't work try mine.

[2017-04-10 18:57] y0ssar1an commented on #134
Ok, that settles it. [tmthrgd/go-bindata](https://github.com/tmthrgd/go-bindata) is the new home of `go-bindata`. I'm gonna submit all my PRs to the `tmthrgd` fork and move all the projects at work to that version.

[2017-04-24 04:11] webdevwilson commented on #156
I seem to be getting this as well because a static file is too large. At least, when I trim down the bytes it seems to work.

[2017-04-26 18:54] TamalSaha commented on #114
We would like to see this. Can this be added?

[2017-05-14 04:39] ammario commented on #119
the funcs should be unexported by default.. I don't think many people want them in their API

[2017-06-14 18:12] dwall80 opened #159 "recursive paths require linux style path separator"
A minor note:

I noticed that when using this package on windows you need to use linux slashes on the last part of the path to bind the data in the import path recursively.

So, you have to do this:
`go-bindata path\to\my\data\root/...`
instead of this:
`go-bindata path\to\my\data\root\...`

Had me scratching my head for a bit

[2017-06-18 21:03] Avalancs opened #160 "Go build does nothing"
I'm on windows 7 with go version 1.8.1 and mingw64 using commit a0ff2567cfb70903282db057e799fd826784d41d .

So after downloading go-bindata with "go get -u github.com/jteeuwen/go-bindata", cd into the folder and run "go build" the terminal instantly comes back, but no executable, or any kind of log appears. If I try it with mingw32-make I get the following output:

[code]

Can you give me any advi

[2017-06-21 13:55] JonathanMH commented on #156
I had to use
[code]
in order to have `Asset()` available. I just wrote a script for it so I can use it with `./run.sh`

[2017-06-24 17:34] xiaoyuvax commented on #152
after directly remove vet:  go get ... lines

i got

i think it gotta be this line :

what else should i do?

[2017-07-04 17:04] MattJBrowning opened #161 "Unable to use Asset() in non-main package."
Hello, not sure if this is by design or an issue. I looked around to see if I could find an answer but I was unable to. Is it expected that Asset won't work in a non-main package? If so, is there a way to get around it? Currently I have all of my templates being handled in a views package.

[2017-07-07 17:53] pierods commented on #160
Same here. make returns:

make[1]: Entering directory '/home/studio/code/goworkspace/src/github.com/jteeuwen/go-bindata/testdata'
go get github.com/kisielk/errcheck
go get golang.org/x/tools/cmd/vet
package golang.org/x/tools/cmd/vet: cannot find package "golang.org/x/tools/cmd/vet" in any of:
	/usr/local/go/src/golang.org/x/tools/cmd/vet (from $GOROOT)
	/home/studio/code/goworkspace/src/golang.or

[2017-07-11 12:27] rysavyvladan commented on #161
Hi,
use _**-pkg name_of_package**_
example:
[code]

[2017-07-11 12:29] rysavyvladan commented on #137
Hi,
to a definition of output directory use like this:
[code]

[2017-07-15 20:21] #147 closed

[2017-07-18 17:42] kevinburke opened #163 "recursive symlinks cause godoc to use unbounded amounts of RAM"
The problem is with the recursive symlinks in the test package; anyone who has this repo cloned and a fresh version of godoc will run into this problem. See https://github.com/golang/go/issues/21061 for more info.

Opening this as a placeholder in case people come here and try to find an answer to their problem. The right fix should be in godoc, it's not fair to ask every Go library writer to refr

[2017-07-31 15:40] mcandre opened #165 "Project appears dead"
17 open pull requests, 47 issues, and 0 commits in 2 years. What say we fork go-bindata and maintain a healthier community relationship?

[2017-07-31 19:30] bogem commented on #165
What happened with @jteeuwen? He has no activity in GitHub at all past 2 years.

[2017-08-05 14:08] nd2s commented on #165
Please fork. Have been waiting for years on #119 and #71.

[2017-08-05 14:39] Luzifer commented on #165
Most recent and active forks seem to be [lestrrat/go-bindata](https://github.com/lestrrat/go-bindata) (I switched to it some time ago) and [jvatic/go-bindata](https://github.com/jvatic/go-bindata)…

Sadly both of them seem to be inactive too… 😞

[2017-08-11 14:13] ZaniaDeveloper commented on #165
Someone would want continue the project ? And then we send message to other users who posted an issue or PR to post it again (or we could copy Issue and PR too) on the new repository.

I'm ok if no other one could not do instead.

[2017-08-31 03:33] perfectnewer commented on #121
but it make `os.FileInfo.IsDir` meaningless

[2017-09-09 17:19] shuLhan commented on #165
I am currently trying to review and merge all of open pull request right now on my fork [1]. If you guys have free time and want to help as collabolator, let me know.

[1] https://github.com/shuLhan/go-bindata

[2017-09-09 19:21] shuLhan commented on #165
Here we go: https://github.com/shuLhan/go-bindata/releases/tag/v3.1.0

Please help testing, in case I break something.

[2017-09-10 10:12] chocol4te commented on #165
@shuLhan I'm working on LZ4 support, and I've switched to forking your branch instead of jteeuwen's. :)

[2017-09-10 10:13] chocol4te commented on #165
Is there any way to migrate all issues/PRs to shuLhan's fork?

[2017-09-12 05:20] ZaniaDeveloper commented on #165
@shuLhan Thank you, i'm going to switch to your repository, and yes i'd like contribute a little later, cause i'd like post some proposals.

[2017-09-18 22:43] shurcooL commented on #165
For anyone interested in an up to date and maintained library for embedding assets in Go binaries, feel free to consider https://github.com/shurcooL/vfsgen as an alternative. It was based on taking `go-bindata` and `go-bindata-assetfs`, merging them into one package, and significantly simplifying the API around the [`http.FileSystem`](https://godoc.org/net/http#FileSystem) interface.

Note that it

[2017-10-07 11:50] ozgursevgi opened #167 "go-bindata Permission denied"
&& go-bindata -pkg main -o public_key.go public.pem
/bin/sh: 1: go-bindata: Permission denied
Makefile:22: recipe for target 'pre-build' failed

[2017-11-07 18:31] kevinburke opened #168 "Write atomically"
We write assets/bindata.go (or whatever your file is named) by creating a bufio.NewWriter and writing to it.

This means it's possible for some other program to read a half-written file.

It would be a better idea to instead write to a temporary file, and then call os.Rename to atomically modify the asset file in question.

[2017-11-11 12:11] komuW opened #169 "Thank you."
@jteeuwen Hi, thanks for making this tool.

[2017-11-11 12:11] komuW commented on #169
I just wanted to say thank you. You can close this issue.

[2017-11-11 12:31] komuW commented on #168
This seems to be an abandoned project.
this -> https://github.com/tmthrgd/go-bindata seems like a fork that is active.
@kevinburke maybe you could open an issue there

[2017-11-11 12:35] komuW commented on #168
Also see this issue, https://github.com/jteeuwen/go-bindata/issues/165 that discusses the project's status and alternatives

[2017-11-13 14:20] plamenGo opened #170 "High Sierra Update"
Hi, I keep getting these errors when I run go-bindata after installing MacOS High-Sierra.

Any idea what I should try to fix this?

resources/get.go:1: running "go-bindata": signal: segmentation fault
templates/get.go:1: running "go-bindata": signal: segmentation fault
Failed run command: go
exit status 1

[2017-11-13 19:27] plamenGo commented on #170
had to reinstall go-bindata

[2017-11-13 19:27] #170 closed

[2017-11-19 13:12] vjeantet commented on #170
thanks for writing down your issue, it saved me some hours :)

[2017-11-19 23:19] ashb commented on #160
You possibly need to `go get -u github.com/jteeuwen/go-bindata/...` or `go get -u github.com/jteeuwen/go-bindata/go-bindata` to get the executable built.

[2017-11-27 01:53] kevinburke commented on #163
Going to close this since this has been fixed in godoc, I believe.

[2017-11-27 01:53] #163 closed

[2017-11-27 02:04] kevinburke commented on #94
This is actually quite significant, since it's present in every generated copy of the bindata.go file. Fixed in my fork - see the above commit.

[2017-11-27 17:48] kevinburke commented on #165
(I have also forked go-bindata, I added atomic file writes and correct go fmt'ing and that's about all I plan to add. https://github.com/kevinburke/go-bindata )

[2017-11-27 17:56] kevinburke commented on #168
I went ahead and implemented this myself in https://github.com/kevinburke/go-bindata/commit/d92efe3dbdfb978c90cbc1522e2862b1ea1ae2b8. Going to close.

[2017-11-27 17:56] #168 closed

[2017-11-28 05:13] tmthrgd commented on #165
This issue is somewhat a duplicate of #134.

In #134, @lestrrat indicated a reluctance https://github.com/jteeuwen/go-bindata/issues/134#issuecomment-290981268 to really take over from this repository.

While [my fork/rewrite](https://github.com/tmthrgd/go-bindata) isn't in an entirely finished state ([the documentation is still lacking](https://github.com/tmthrgd/go-bindata/issues/2) for example)

[2017-11-28 05:16] lestrrat commented on #165
for the record since my use cases are simple, I now use  https://github.com/lestrrat/go-packasset.
YMMV

[2017-11-28 05:28] tmthrgd commented on #165
(@lestrrat you're package has a potential race condition around getting and setting the `cached` field of the `asset` struct. I do something similar in my fork/rewrite, but I use a [`sync.Once`](https://golang.org/pkg/sync/#Once) to avoid the race condition).

@lestrrat I note that you give the lack of a CLI in my fork/rewrite as a reason for go-packasset existing. While I have deprecated the CLI

[2017-12-12 10:11] bstick12 opened #173 "Support multiple prefix value in -prefix flag"
The current implementation only supports a single prefix value.

We would like to see the support of multiple prefix values as multiple import directories can be specified.

cc/ @jasonkeene

[2018-01-03 21:08] #88 closed

[2018-01-19 11:14] tombh commented on #165
Just to save others the click. As of the date of this comment the most active and up to date fork seems to be: https://github.com/shuLhan/go-bindata

Because we can't update the README here. What about flooding the Issues with empty posts and leaving the top issue a link to the latest fork? It's such a shame that this repo is the focal point when it is so very dead.

Github should have tools to he

[2018-01-25 18:00] leoluz commented on #149
I was having the same idea. But the problem here is, how do you choose the target architecture for the binary you are embedding? If this CLI is open source and is in Go, I guess the the best approach would be to add the project as a dependency of your application and build the whole thing all together. Not super nice if its a big project though...

[2018-01-25 18:14] kevinburke commented on #149
in theory the binary would parse flags and immediately call a public library that anyone could call directly from Go code

[2018-01-26 14:23] hellais commented on #165
Good to hear that there is an active fork and it also includes a fix for this issue I was encountering (https://github.com/hellais/go-bindata/commit/e4a7376b2db956020be516408805500d4bf7a531).

I will switch to using your fork @shurcooL (https://github.com/shuLhan/go-bindata).

@mcandre maybe you can edit your top comment (and timestamp it) to include a link to what seems to be the most active back

[2018-02-07 12:44] JelteF opened #1 "Push tags to the fork as well"
Some dependency tools rely on them.

[2018-02-07 12:58] a-urth commented on #1
Do You know what happened to old repo?

[2018-02-07 13:05] jteeuwen commented on #1
@a-urth As you know, it's disappeared, so I sign up the new account and fork repo from yours. I don't know where the old repo is.

[2018-02-07 13:05] jteeuwen commented on #1
@JelteF done.

[2018-02-07 14:06] muesli opened #2 "Import other repos from jteeuwen as well"
I have copies of `go-pkg-rss` and `go-pkg-xmlx` locally.

[2018-02-07 14:16] jwkohnen opened #3 "Please document history, state and intention of this account and project"
There is a discussion on [/r/golang](https://www.reddit.com/r/golang/comments/7vv9zz/popular_lib_gobindata_removed_from_github_or_why/) about this repository and potentially there will be further debate about the history of this repository as it resembles the infamous incidents of left-pad et seqq.

I speculate that this repository is controlled by @a-urth but no one knows. Since the original repo

[2018-02-07 14:18] a-urth commented on #3
This one is run not by me. I'm intentionally created new one under my personal account.

[2018-02-07 14:26] muesli commented on #2
I've uploaded them to https://github.com/muesli/go-pkg-xmlx and https://github.com/muesli/go-pkg-rss

[2018-02-07 15:51] JelteF commented on #1
Thanks, using our own fork at the moment though.

[2018-02-07 15:51] #1 closed, assigned to nobody

[2018-02-07 22:08] skymeyer commented on #3
@a-urth there is a maintained fork for `go-bindata` at https://github.com/kevinburke/go-bindata. We switched last night on https://github.com/bazelbuild/rules_go/pull/1308.

I'd recommend indeed as mentioned by @wjkohnen to flag this as a deprecated archive.

[2018-02-08 01:34] FranklinYu commented on #3
Guys, how do you see fit? New issue or README (which means new commit in master branch)?

I’ll do a new issue first. If we later decide to change the README, I can do it afterwards.

[2018-02-08 01:53] FranklinYu opened #5 "Announcement and disclosure"
I’m a friend of the repo owner. The current owner is not the original jteeuwen, and we have no relation with him, nor do we want to take any credit. We have no way to know what happened to jteeuwen.

The intention of this account and repo was simply to fix the building of a private project. The current owner had no way to directly redirect the repo, so he made such work-around so that he could saf

[2018-02-08 01:55] FranklinYu commented on #3
Update: see #5.

[2018-02-08 08:15] tombh commented on #3
From my digging through the fork graphs  a few weeks ago before the deletion it seemed, https://github.com/shuLhan/go-bindata was the most up to date and maintained.

[2018-02-08 16:37] mmlb commented on #5
This repo should therefore be archived to better show the intent of the resurrection. Archived repos are readonly and still cloneable. https://help.github.com/articles/archiving-a-github-repository/

[2018-02-08 22:18] mewmew commented on #2
Also `framebuffer`. Ref gen2brain/goiv#1

[2018-02-13 19:53] FranklinYu commented on #5
@mmlb Archiving this repository means we cannot create new issue, or comment on current issues (including this one). There is not enough discussion for us to decide how to deal with #2 (only 4 visible participants), so I think I shall at least leave issues open.

[2018-02-13 20:51] mmlb commented on #5
@franklinyu those 2 packages in #2 have nothing to do with this repository and I don't think any new issues should be opened here. I would suggest creating a gitter.im room, update the repo blurb to point to gitter for discussing jteeuwen packages and then archiving this repo. #2 has 2 participants and 2 thumbs, this has 38 thumbs and doesn't keep this repo looking like its alive for further than

[2018-02-14 11:46] mychkin commented on #5
those 2 repos are missing as well:

github.com/jteeuwen/go-pkg-rss
github.com/jteeuwen/go-pkg-xmlx

[2018-02-22 00:05] tvmaly opened #6 "go vet part of go now"
when I attempt to run make

I get an error message as it tries to download vet even though vet is part of go now:

make
make -C testdata
go get github.com/kisielk/errcheck
go get golang.org/x/tools/cmd/vet
package golang.org/x/tools/cmd/vet: cannot find package "golang.org/x/tools/cmd/vet" in any of:
	/usr/local/go/src/golang.org/x/tools/cmd/vet (from $GOROOT)
	/Users/tmaly/godev/src/golang.org/x/

[2018-03-04 07:33] liweiv commented on #5
I had built a go-bindata organization to maintain this project from this branch.
 https://github.com/go-bindata/go-bindata

[2018-03-05 02:45] FranklinYu commented on #5
Ok guys, this repository will be archived. For all the discussion please go to <https://github.com/jteeuwen/discussions>.

[2018-03-05 02:45] #5 closed, assigned to nobody

[2018-03-05 02:47] FranklinYu commented on #3
This repository will be archived. Please go to <https://github.com/jteeuwen/discussions> for discussion.

[2018-03-05 02:47] #3 closed, assigned to nobody

[2018-03-05 03:00] FranklinYu commented on #2
This repository will be archived. For all the discussion please go to <https://github.com/jteeuwen/discussions>.

[2018-03-05 03:00] #2 closed, assigned to nobody

[2018-03-05 03:00] FranklinYu commented on #6
This repository will be archived. For all the discussion please go to <https://github.com/jteeuwen/discussions>.

[2018-03-05 03:00] #6 closed, assigned to nobody